html {
  background-color: magenta !important;
}

/* Hide page title (icon + text) */
.md-header__title {
  display: none;
}

/* Hide only the page title text and icon */
.md-header__topic {
  display: none;
}

body {
  outline: 5px solid red;
}